.Card {
  overflow: hidden;
}

.Card > img {
  justify-items: center;
  justify-self: center;
  max-height: 150px;
}

.info {
  display: grid;
  gap: 8px;

}

.info>p{
  color: gray;
  overflow-y: auto;
  max-height: 100px;
}


.Card>p{
  justify-self: baseline;
  font-size: larger;
}

