.itemsList{
display: flex
}

.itemsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.8rem;
  padding: 2rem;
  max-width: 1300px;
  margin: 0 auto;
}

.cartwindo{
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  justify-content: space-evenly
}

.cartTotal{
  border-left: solid 0.5px lightgray;
  padding-left: 50px;
}


.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  background: #ffffff;
  padding: 1.5rem;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);

}


@media (max-width: 600px) {
  .itemsList {
    padding: 1rem;
    gap: 1rem;
  }

  .item {
    padding: 1rem;
  }
}