header{
  display: grid;
  grid-auto-flow: column;
  padding: 5px;
  position: sticky;
  top: 0;
  justify-content: center;
  gap: 40px;
  margin-bottom: 5px;
  font-weight: bolder;
}

header>a,header>a.visited{
  text-decoration: none;
  text-emphasis: none;
  color: black;
}
header>a:last-of-type{
  display: grid;
  grid-auto-flow: column;
}

header>a:last-of-type>p{
  color: rgb(226, 58, 58);
  font-size: small;
  align-self: baseline;
  text-align: center;
  border: solid 2px rgb(226, 58, 58);
  border-radius: 50%;
  margin-left: 2px;
  width: 25px;
}
