.itemsList{
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 5px;
  justify-content: space-evenly
}

.item{
    border: solid rgba(128, 128, 128, 0.493) 1px;
    padding: 5px;
    display: grid;
    min-width: 250px;
    max-width: 300px;
}